In [102]:
import pandas as pd
import numpy as np

In [103]:
df=pd.read_csv("CSV/cereals.csv")

In [104]:
print(df)

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                Apple Jacks       110        2        25  33.174094
7                    Basic 4       130        3        25  37.038562
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813

In [105]:
# add row
df.loc[10]=["Mihir",10,5,25,99]

In [106]:
df

                         name  calories  protein  vitamins     rating
0                   100% Bran        70        4        25  68.402973
1           100% Natural Bran       120        3         0  33.983679
2                    All-Bran        70        4        25  59.425505
3   All-Bran with Extra Fiber        50        4        25  93.704912
4              Almond Delight       110        2        25  34.384843
5     Apple Cinnamon Cheerios       110        2        25  29.509541
6                 Apple Jacks       110        2        25  33.174094
7                     Basic 4       130        3        25  37.038562
8                   Bran Chex        90        2        25  49.120253
9                 Bran Flakes        90        3        25  53.313813
10                      Mihir        10        5        25  99.000000

In [107]:
#delete row
dataFrame=df.drop(3,axis=0)
print(dataFrame)

                       name  calories  protein  vitamins     rating
0                 100% Bran        70        4        25  68.402973
1         100% Natural Bran       120        3         0  33.983679
2                  All-Bran        70        4        25  59.425505
4            Almond Delight       110        2        25  34.384843
5   Apple Cinnamon Cheerios       110        2        25  29.509541
6               Apple Jacks       110        2        25  33.174094
7                   Basic 4       130        3        25  37.038562
8                 Bran Chex        90        2        25  49.120253
9               Bran Flakes        90        3        25  53.313813
10                    Mihir        10        5        25  99.000000

In [108]:
#add column
df["grade"]=np.full(11,10)

In [109]:
df

                         name  calories  protein  vitamins     rating  grade
0                   100% Bran        70        4        25  68.402973     10
1           100% Natural Bran       120        3         0  33.983679     10
2                    All-Bran        70        4        25  59.425505     10
3   All-Bran with Extra Fiber        50        4        25  93.704912     10
4              Almond Delight       110        2        25  34.384843     10
5     Apple Cinnamon Cheerios       110        2        25  29.509541     10
6                 Apple Jacks       110        2        25  33.174094     10
7                     Basic 4       130        3        25  37.038562     10
8                   Bran Chex        90        2        25  49.120253     10
9                 Bran Flakes        90        3        25  53.313813     10
10                      Mihir        10        5        25  99.000000     10

In [110]:
#delete column
df.drop("rating",axis=1)

                         name  calories  protein  vitamins  grade
0                   100% Bran        70        4        25     10
1           100% Natural Bran       120        3         0     10
2                    All-Bran        70        4        25     10
3   All-Bran with Extra Fiber        50        4        25     10
4              Almond Delight       110        2        25     10
5     Apple Cinnamon Cheerios       110        2        25     10
6                 Apple Jacks       110        2        25     10
7                     Basic 4       130        3        25     10
8                   Bran Chex        90        2        25     10
9                 Bran Flakes        90        3        25     10
10                      Mihir        10        5        25     10

In [111]:
df

                         name  calories  protein  vitamins     rating  grade
0                   100% Bran        70        4        25  68.402973     10
1           100% Natural Bran       120        3         0  33.983679     10
2                    All-Bran        70        4        25  59.425505     10
3   All-Bran with Extra Fiber        50        4        25  93.704912     10
4              Almond Delight       110        2        25  34.384843     10
5     Apple Cinnamon Cheerios       110        2        25  29.509541     10
6                 Apple Jacks       110        2        25  33.174094     10
7                     Basic 4       130        3        25  37.038562     10
8                   Bran Chex        90        2        25  49.120253     10
9                 Bran Flakes        90        3        25  53.313813     10
10                      Mihir        10        5        25  99.000000     10